<!-- <section class="content-header"> -->
    <section class="content">
  <div class="layout-dashboard" style="margin-top: -65px;">
    <div class="full-width">
      <div class=" home full-width">

        <div class="row tile_count ui-g " >
          <div class="ui-g-12 ui-md-12 ui-lg-4 tile_stats_count overview-box home">
            <div class="left"></div>
            <div class="right">
              <span class="count_top"><i style="margin: 15px 15px 0 0;" class="glyphicon glyphicon-bed"></i>Total Tempat
                Tidur</span>
              <div class="count white" style="margin-bottom: 15px;">{{jumlahTempatTidur}}</div>
            </div>
          </div>

          <div class="ui-g-12 ui-md-12 ui-lg-4 tile_stats_count overview-box home">
            <div class="left"></div>
            <div class="right">
              <span class="count_top"><i style="margin: 15px 15px 0 0;" class="glyphicon glyphicon-bed"></i>Total Tempat Tidur Isi</span>
              <div class="count white" style="margin-bottom: 15px;">{{JumlahIsi}}</div>
            </div>
          </div>

          <div class="ui-g-12 ui-md-12 ui-lg-4 tile_stats_count overview-box home">
            <div class="left"></div>
            <div class="right">
              <span class="count_top"><i style="margin: 15px 15px 0 0;" class="glyphicon glyphicon-bed"></i>Total Tempat Tidur Kosong</span>
              <div class="count white" style="margin-bottom: 15px;">{{JumlahKosong}}</div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>

<!-- <h3 class="first">Basic</h3>
      <p-table [value]="cars">
        <ng-template pTemplate="header">
          <tr>
            <th>Total Tempat Tidur</th>
            <th>Total Tempat Tidur Isi</th>
            <th>Total Tempat Tidur Kosong</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-car>
          <tr>
            <td>{{car.vin}}</td>
            <td>{{car.year}}</td>
            <td>{{car.brand}}</td>
          </tr>
        </ng-template>
      </p-table> -->

<!-- <div class="overview-box home">

    <div class="row tile_count">
      <div class="col-md-4 col-xs-12 tile_stats_count">
        <div class="left"></div>
        <div class="right">
          <span class="count_top"><i style="margin-bottom: 15px;" class="glyphicon glyphicon-bed"></i >Total Tempat Tidur</span>
          <div class="count white">{{jumlahTempatTidur}}</div>
        </div>
      </div>

      <div class="col-md-4 col-xs-12 tile_stats_count">
        <div class="left"></div>
        <div class="right">
          <span class="count_top"><i class="glyphicon glyphicon-bed"></i>Total Tempat Tidur Isi</span>
          <div class="count white" style="margin-top: 5px">{{JumlahIsi}}</div>
        </div>
      </div>

      <div class="col-md-4 col-xs-12 tile_stats_count">
        <div class="left"></div>
        <div class="right">
          <span class="count_top"><i class="glyphicon glyphicon-bed"></i>Total Tempat Tidur Kosong</span>
          <div class="count white" style="margin-top: 5px">{{JumlahKosong}}</div>
        </div>
      </div>
    </div>

  </div> -->